[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
