<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html" />
    <!--<link type="text/css" rel="stylesheet" href="some.css" />-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script type="text/javascript">
      jQuery(function($) {
        // Works just like $(document).ready, but doesn't claim $ in the global
        // namespace: see http://api.jquery.com/jQuery/#jQuery3
      });
    </script>
  </head>
  <body>
  </body>
</html>
